.mobile {
  width: 812px;
}

@media screen and (max-width: 812px) {
  img {
    max-width: 782;
  }

}

body {
  padding: 1rem;
  width: 100%
}

ul {
  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 30vw;
  height: auto;
}

.breeds {
  display: flex;
  flex-direction: column;
  margin: 24px 0 6px 0;
}
